Internship[[:space:]]Reference/Depoly[[:space:]]a[[:space:]]new[[:space:]]Vmare[[:space:]]Vshpare[[:space:]]and[[:space:]]Install[[:space:]]FreeIPA[[:space:]]Cli/20251025-2033-41.3452115.mp4 filter=lfs diff=lfs merge=lfs -text
Internship[[:space:]]Reference/Ansible/20251020-1550-57.4320008.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
